/***************************************************************************/	
/* Name        : styles31.css                                              */
/* Description : Main layout style sheet for exercise 3.1                  */
/* Course      : CS597 Multimedia and Web Design, SP17 AH1                 */
/* Author      : Course Instructor                                         */
/* History     : 2017-01-25 Created by Course Instructor                   */
/***************************************************************************/
	
/***************************************************************************/	
/* PART 1 - LAYOUT                                                         */
/***************************************************************************/

body {
	width             : 960px auto;
	margin            : 10px auto;
	font-size         : 87.5%; /* 14 point */
	}
h1, h2, h3, h4, h5, h6 {
	font-family       : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	}
p {
	font-family       : Georgia, "Times New Roman", Times, serif;
	line-height       : 1.25em;
	}

/***************************************************************************/	
/* Header layout                                                           */
/***************************************************************************/	
header {
	width             : 100%;
	margin            : 0 auto;
	padding           : 0;
	display           : flex;
	flex-direction    : column; /* 1. specify vertical distribution */
	justify-content   : space-between;
	}
header #hgroup {
	margin            : 0 auto;
	padding           : 0 10px;
	display           : flex;
	flex-direction    : row; /* 2. specify horizontal distribution */
	justify-content   : space-between;
	}

/***************************************************************************/	
/* Header nav layout                                                       */
/***************************************************************************/	
nav {
	height            : 22px;
	align-items       : center;
	}
nav ul {
	margin            : 0;
	padding           : 0;
	display           : flex;
	}
nav li {
	height            : 20px;
	list-style        : none;
	margin-right      : 1px; /* Background bleed-through */
	}
nav a {
	padding           : 5px 20px;
	font-size         : 1.1em;
	font-weight       : bold;
	text-decoration   : none;
	}

/***************************************************************************/	
/* Main section and aside layout                                           */
/***************************************************************************/	
main {
            display   : flex;
            margin    : 0 1px;
        align-items   : top; /* Vertical alignment */
	}

section, aside {
	vertical-align    : top;
	}
section {
	width             : 80%;
	}
article {
	padding           : 0 10px;
	}
section article {
	margin            : 10px;
	}

/***************************************************************************/	
/* Used to float images and text left and right                            */
/***************************************************************************/	
.article-contents {
	display         : flex;
	flex-direction  : row; /* 3. Specify Horizontal layout */
	}
figcaption {
	text-align      : center; /* Under image */
	}
	
/***************************************************************************/	
/* Aside layout                                                            */
/***************************************************************************/	
aside article {
	margin          : 10px;
	}

aside ul {
	list-style      : none;
	margin          : 10px 5px;
	padding         : 0;
	}
aside li {
	margin          : 5px 0;
	}

/***************************************************************************/	
/* Footer layout                                                           */
/***************************************************************************/	
footer {
		   margin   : 0 auto;
		  padding   : 0 10px;
			display : flex; 
		align-items : ; /* 4. Specify vertical alignment */
	justify-content : space-between; 
	}
footer span {
	padding          : 1px 3px;
	}	
	
/***************************************************************************/	
/* PART 2 - COLORS                                                         */
/***************************************************************************/	
:root{
	--color-0: #88A063;
	--color-1: #D9E7C3;
	--color-2: #ABC08C;
	--color-3: #6A7F44;
	--color-4: #4F6926;
	--color-b: black;
	--color-w: white;
}

body {
	background-color  : var(--color-4); /* 5. color-4 */
	}
#container {
	background-color  : var(--color-w);
	color             : var(--color-b);
	}
header, footer {
	background-color  : var(--color-0); /* 6. color-0 */
	color             : var(--color-1); /* 7. color-1 */
	}
nav a {
	background-color  : var(--color-1); /* 8. color-1 */
	color             : var(--color-4); /* 9. color-4 */
	}	
body#home_page  a.home_page,
body#about_me   a.about_me,
body#my_courses a.my_courses,
body#contact_me a.contact_me {
	background-color : var(--color-3); /* 10. color-3 */
	color            : var(--color-1); /* 11. color-1 */
	}
article {
	background-color  : var(--color-1); /* 12. color-1 */
	color             : var(--color-4); /* 13. color-4 */
	}
img {
	background-color : var(--color-2); /* 14. color-2 */
	border-color	 : var(--color-w);
	border-style	 :solid;
	border-width	 :5px;
	border           : #fff solid 5px; /* white */
	}
footer span {
	background-color  : var(--color-1); /* 15. color-1 */
	color             : var(--color-4); /* 16. color-4 */
	}

/***************************************************************************/	
/* Borders                                                                 */
/***************************************************************************/
header {border-bottom                  : #ccc solid 1px;}
section {border-right                  : #ccc solid 1px;}
section article, aside article {border : #ccc solid 1px;}
footer {border-top                     : #ccc solid 1px;}
